@import url('./variables.css');

/**OVERRIDES*/


header {
  background-color: rgb(88, 158, 173);
  color: #fff;
  text-align: center;
  height: 59px;
}

h1 {
  font-family: var(--font-primary);
  font-size: 12pt !important;
}

h2 {
  font-family: var(--font-subtitle) !important;
  color: var(--primary-color);
  font-weight: 700 !important;
}

span {
  font-family: var(--font-primary);
}

input[type="text"],input[type="password"] {
  border: none;
  background-color: var(--primary-color);
  color: var(--color-white);
  border-bottom: 1px solid var(--color-white);
}

input[type="text"]::placeholder, input[type="password"]::placeholder {
  color: var(--color-white);
  font-family: var(--font-primary);
}
a {
  color: var(--primary-color) !important;
  text-decoration: none !important;
}

a:hover {
  cursor: pointer;
}

a:active {
  color: #589dad7b !important;
}

.main-content {
  margin-top: 2em;
  background-color: var(--font-primary);
  display: flex;
  flex-direction: column;
}

/*start login*/
.login-title {
  margin-right: 5em;
}

.person-img {
  height: auto;
  width: 9em;
}

.login-form {
  border-radius: 1.5em;
  width: 95%;
  height: 15em;
  background-color: var(--primary-color) !important;
}

.eye-login {
  
}

/*end login*/

/* Inicio Encomenda*/

.encomenda-title {
  font-family: var(--font-subtitle);
  color: var(--primary-color);
  font-weight: 700;
  font-size: 16pt;
  margin-top: 2em;
}

/* Estilo para a tabela ou lista de artigos da encomenda */
.encomenda-artigos {
  width: 100%;
  margin-top: 1em;
  border-collapse: collapse;
}

.encomenda-artigos th, .encomenda-artigos td {
  border: 1px solid var(--primary-color);
  padding: 10px;
  text-align: left;
}

.encomenda-artigos th {
  background-color: var(--primary-color);
  color: var(--color-white);
}

/* Estilo para o botão de adicionar artigo */
.encomenda-adicionar-artigo {
  background-color: var(--primary-color);
  color: var(--color-white);
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  margin-top: 1em;
  cursor: pointer;
}

.encomenda-adicionar-artigo:hover {
  background-color: #457999; /* Cor mais escura quando hover */
}

