@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;1,200&display=swap");

/*Roboto imports*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url();

@font-face {
  font-family: "Roboto-bold";
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
}

:root {
  --font-primary: "Montserrat", sans-serif;
  --font-subtitle: "Roboto-bold", sans-serif;
  --primary-color: #589ead;
  --color-white: #f9f9f9;
  --color-grey: #D9D9D9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    width: 80%;
    border-radius: 20px !important;
}

body {
    background: var(--color-white);
}